[Unit]
Description=btsync client
Requires=network-online.target
After=network-online.target

[Service]
EnvironmentFile=-/etc/sysconfig/btsync
Environment=GOMAXPROCS=2
Restart=on-failure
ExecStart=/usr/local/bin/btsync --config /etc/btsync.conf --nodaemon
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
